doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous")
    //- Shared utilities - load before page-specific scripts
    script(src='/javascripts/config.js')
    script(src='/javascripts/logger.js')
    script(src='/javascripts/fetcher.js')
    script(src='/javascripts/jsonRenderer.js')
    script(src='/javascripts/stateManager.js')
    script(src='/javascripts/validators.js')
    script(src='/javascripts/eventStore.js')
    script(src='/javascripts/sseManager.js')
  body
    block content
